include common/_mixins
include common/_body_head

	.wraper
		.main_content
			.container
				.header__main(style="background-image: url(/my-uploads/users/#{cover})")
					include common/_header

						//========section new world========
				section.new_world
					.main__container
						h1.section_title Новое в мире
						.news
							ul.news__list
								if photos
									each photo in photos
										li.news__item
											.news__block
												img.news__img(src='./my-uploads/photos/#{photo.photoLink}')
												a.news__mask(href='/photo/#{photo._id}') посмотреть фото
													+icon('loupe','svg-loupe-dims')
												.news__desc
													.news__author
														img.news__author__img(src='./assets/img/users/us1.jpg')
														a.news__author__mask(href='./user.html') о пользователе
															+icon('more','svg-more-dims')

													.other
														.news__img__name #{photo.name}
														+comments_likes(9,25)
												.news__album
													a.news__album__name(href='#') Прогулки по воде
													+icon('album','svg-album-dims')
								else
									p Нет фотографий


						button.news__more(type='button') Показать еще

						//======section My album===========
				section.my_albums
					.main__container
						.my_albums__title
							h2.section_title Мои альбомы
							a.add__albums#add__new_album_main(href='#') Добавить
								+icon('add','svg-add-dims')
						.albums
							ul.albums__list
								if albums
									each album in albums
										li.albums__item
											.albums__block
												.albums__img__wrap
													img.albums__img(src='./my-uploads/photos/#{album.coverID}')
												.albums__name
													.albums__name__title #{album.name}
													a.albums__edit(href='#') редактировать альбом
														+icon('edit','svg-edit-dims')

												a.albums__desc(href='./albums/#{album._id}')
													.albums__about #{album.description}
													.albums__amount_photo #{album.amountOfPhotos} фотографий
								else
									p Еще нет альбомов



			.footer__main(style="background-image: url(/my-uploads/users/#{cover})")
				include common/_footer

						// modal windows
		include common/_slider
		include common/_edit_header
		include common/_add_album
		include common/preloader
	include common/_scripts