include common/_mixins
include common/_body_head

    .view_photo
        .overlay
        #contentHolder.slider
            +icon('close','svg-close-dims')

                //==========photo section==========
            section.photo_section
                .photos__wrap
                    a.history.slider_control(href='#{nextImgPath}')
                        +icon('arrow_left','svg-arrow_left-dims')
                    img.photo(src='./assets/img/photos/ph1_big.jpg')
                    a.history.slider_control(href='#{prevImgPath}')
                        +icon('arrow_right','svg-arrow_right-dims')
                .photos__after

                    +user( userName, userAva )

                    .photos__like

                        +icon('heart','svg-heart-dims')
                        .like__count #{imgLikes}
                .photos__desc__block
                    .photos__name #{imgName}
                    .photos__desc #{imgInfo}

    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(type='text/javascript').
        $(".news__mask").click(function (e) {
            e.preventDefault();
            historyClick();
            $(".view_photo").removeClass('close');
        });
        $(document).ready(function () {

            // получаем текущий uri, если uri не существует то присваиваем uri первой страницы
            var thisUri = getThisUri() ? getThisUri() : '/';
            thisUri = '/' + thisUri;

            console.log(thisUri);
            // клик на ссылки переключения страниц
            $('.history').click(historyClick);

            $('.svg-close-dims').click(goHomeClick);

            // обработчик нажатий на кнопки браузера назад/вперед
            $(window).bind('popstate', function (event) {
                getContent(history.state.uri, false);
            });

            /* Click function */
            function historyClick(e) {
                e.preventDefault();

                // получем путь к запрашиваемой странице
                var href = $(this).attr('href');

                //создаем новую запись в истории только когда кликаем по ссылке
                history.pushState(null, null, href);

                // открываем страницу
                getContent(href, true);
                return false;
            }
            /* goHome function */
            function goHomeClick(e) {
                e.preventDefault();

                //создаем новую запись в истории только когда кликаем по ссылке
                history.pushState(null, null, thisUri);

                return false;
            }
            /*  Загрузка запрашиваемых страниц с сервера */

            function getContent(url, addEntry) {
                $.get(url).done(function(data) {
                    var newSlide = $(data).find("#contentHolder");
                    var slid = $('#contentHolder');

                    // Обновление только текстового содержимого в сером блоке
                    slid.html(newSlide);
                    slid.on('click', '.history', historyClick);
                    slid.on('click', '.svg-close-dims', goHomeClick);
                    // Если был выполнен клик в меню - добавляем запись в стек истории сеанса
                    // Если была нажата кнопка назад/вперед, добавлять записи в историю не надо
                    if(addEntry == true) {
                        // Добавляем запись в историю, используя pushState
                        history.pushState(null, null, url);
                    }
                });
            }

            /* Возвращает текущий URI страницы */

            function getThisUri() {
                var loc = event.location
                        || ( event.originalEvent && event.originalEvent.location )
                        || document.location;
                return loc.pathname.substr(1);
            }

        });
    include common/_scripts