mixin comments_likes(c_count,l_count)
	.comments__likes__block
		.comments
			+icon('comments','svg-comments-dims')
			.comments__count #{c_count}
		.like
			+icon('like','svg-like-dims')
			.like__count #{l_count}



-var svg="/assets/img/svg-sprite.svg"


mixin icon(name, c_name)
	svg(role="img" class="#{c_name}")
		use(xlink:href="#{svg}##{name}")

mixin user(name,name_photo)
	.user
		.user__ava
				img.user__ava__img(src='./assets/img/users/'+'#{name_photo}')
		.user__name #{name}

mixin userH(name,name_photo)
	.user
		.user__ava_h
				img.user__ava__img(src='./assets/img/users/'+'#{name_photo}')
		.user__name #{name}		